{% extends 'base.html.twig' %}


{% block title %}
{{ parent() }} Modification mot de passe

{% endblock %}

{% block titre %}
Modification mot de passe
{% endblock %}


{% block body %}

<div class="container col-lg-6 pb-5">
    <form action="{{ path('modifPassword') }}" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Mot de passe actuel</label>
            <input name="password" type="password" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Saisissez votre mot de passe actuel">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nouveau mot de passe</label>
            <input name="newPassword" type="password" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Saisissez votre nouveau mot de passe">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Confirmation du mot de passe</label>
            <input name="confirmPassword" type="password" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Re-saisissez votre nouveau mot de passe">
        </div>
        
        <button type="submit" class="btn btn-primary rounded">Mettre à jour</button>
    </form>
</div>



{% endblock %}