{% extends 'base.html.twig' %}


{% block title %}
{{ parent() }}

{% endblock %}

{% block titre %}

{% endblock %}


{% block body %}

<div class="container col-lg-6 pb-5">
    <form action="{{ path('finalReset') }}" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nouveau mot de passe</label>
            <input name="password" type="password" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Saisissez votre nouveau mot de passe">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Confirmation du mot de passe</label>
            <input name="confirmPassword" type="password" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Re-saisissez votre nouveau mot de passe">
        </div>
        {# input en type hidden, récupération de "id" de user #}
        <input type="hidden" name="id" value=" {{ id }}">
        <button type="submit" class="btn btn-primary rounded">Valider</button>
    </form>
</div>



{% endblock %}